.player-console {
  display: none;
}

#myProgress1 {
  width: 100%;
  background-color: #ddd;
}

#myBar1 {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myProgress2 {
  width: 100%;
  background-color: #ddd;
}

#myBar2 {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
